@charset "UTF-8";

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  color: white;
  font-family: 'Ariel', display;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  background-color: white;
}

.title {
    float: center;
    font-size: 25;
    font-family: DejaVu Sans Mono, monospace;
}

.desc {
   font-size: 25;
}

.com {
    width: 100px;
    color: #848484;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-family: Andale Mono, monospace;
    font-size: 16;
}

.imya {
    width: 100px;
    color: #848484;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-family: Andale Mono, monospace;
    font-size: 16;
}

.email {
    width: 100px;
    color: #848484;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-family: Andale Mono, monospace;
    font-size: 16;
}

input {
cursor: pointer;
}